<div class=main-title>
  <h2>ようこそ　Bookersへ！</h2>
</div>
<div class=text>
  <p>Bookersでは、さまざまな書籍に関するあなたの意見や</br>
     印象を共有し交換することができます</p>
</div>
<div class=link>
  <%= link_to "start","/books" %>
</div
