<body>
  <h2>ようこそ　<strong>Bookers</strong> へ！</h2>

  <div class="text">
    <p><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</br>
       印象を共有し交換することができます</p>
  </div>

  <div class="start-link">
    <%= link_to "start","/books" %>
  </div>
</body>
