*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  margin:33px;
}

strong{
  font-weight:bolder;
}
.text{
  margin:33px;
}
.text p{
  line-height:3;
}

.start-link{
  margin:30px 0 0 33px;
}

h1{
  display:flex;
}
p{
  display:inline-block;
  margin:0 200px 0 60px;
  font-weight:bold;
}

.all{
  position:relative;
}
.body{
  position:absolute;
  left:250px;
}

.show{
  position:absolute;
  left:800px;
}
.edit{
  position:absolute;
  left:860px;
}
.destroy{
  position:absolute;
  left:910px;
}

.new{
  margin-top:33px;
}
.input{
  margin-top:10px;
  font-weight:lighter;
  }
}