*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  margin:33px;
}

strong{
  font-weight:bolder;
}

.text{
  font-size:15px;
  line-height:3;
}
.start-link{
  margin:30px 0 0 33px;
}

.index-heading{
  display:flex;
}

td{
  padding-right:20px;
}

.new{
  margin-top:33px;
}
.input{
  margin-top:10px;
  font-weight:lighter;
  }

.show-title,.show-body{
  margin:33px;
}

.edit-title,.edit-body{
  margin-top:10px;
}

.error{
  border:2px solid red;
  height:150px;
  width:500px;
}

.error-message{
  background-color:red;
  color:white;
}

.error-coment{
  padding-top:30px;
  padding-left:70px;
}